@model IEnumerable<ToDo.Models.Event>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue.VenueName)
        </th>
        <th>
            @*blank*@
        </th>
        <th>
            @*blank*@
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.VenueName)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveEvent", "Home", new { id = item.EventID }, new { @class = "btn btn-sm btn-danger" })
            </td>
            <td>
                @if (item.EventActive == true)
                {
                    @Html.ActionLink("Make Inactive", "EventChangeStatus", "Home", new { id = item.EventID }, new { @class = "btn btn-sm btn-warning" })
                }

                else if (item.EventActive == false)
                {
                    @Html.ActionLink("Make Active", "EventChangeStatus", "Home", new { id = item.EventID }, new { @class = "btn btn-sm btn-success" })
                }

            </td>
        </tr>
    }

</table>