@model IEnumerable<ToDo.Models.EventCategory>

<h1 style="color: blue; text-align: center;">Event Categories</h1>
<hr />

<table id="dataTableEventCategories" class="table table-bordered table-responsive table-striped" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCategoryName)
            </th>
            <th>
                @*blank*@
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventCategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventCategoryName)
                </td>
                <td>
                    @*<button type="button" onclick="RemoveEventCategory(@item.EventCategoryID);" class="btn btn-sm btn-danger">Delete</button>*@
                    <button id="btnVenueDelete" onclick="DeleteEventCatModal('@item.EventCategoryName', '@item.EventCategoryID');" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <label for="txtCategory">Category:</label>
    <input id="txtCategory" />

    <span class="btn btn-sm btn-success" onclick="AddCategory();">Add Category</span>

    <h2 id="txtEC" style="color: green; text-align: center;"></h2>
</div>

@*Bootstap Modal Window*@
<div class="modal fade" id="EventCatModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="txtEventCatModal" class="modal-title">Delete </h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to permanently delete this Event Category?</p>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="RemoveEventCategory();" class="btn btn-success" data-dismiss="modal" style="float: left">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    var EventCatModalID = null;

     //DataTable
    $(document).ready(function () {
        $('#dataTableEventCategories').DataTable();
    });


    function DeleteEventCatModal(Name, ID) {

        EventCatModalID = ID;

        txtEventCatModal.innerText = "Delete " + Name;
        $("#EventCatModal").modal();
    }

    function RemoveEventCategory() {

        ECID = EventCatModalID;

        $.ajax({
            type: "GET",
            url: '@Url.Action("RemoveEventCategory", "Home")',
            data: { id: ECID },
            success: function (data) {

                $('#AdminEventCategories').html(data);
                $('#AdminEventCategories').fadeIn("fast")

                $('#EventCatModal').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                document.getElementById("txtEC").style.color = "#ff0000";
                txtEC.innerText = "Event Category has been deleted";
            }
        });
    }

    function AddCategory()
    {
        var cat = document.getElementById('txtCategory').value
        console.log(cat);

        $.ajax({
            type: "GET",
            url: '@Url.Action("AddVEventCategory", "Home")',
            data: { Category: cat },
            success: function (data) {


                $("#AdminEventCategories").html("");
                $("#AdminEventCategories").html(data);
                document.getElementById("txtEC").style.color = "green";
                txtEC.innerText = cat + " has been added";

            },
            error: function (data) {

                txtEC.innerText = "An error has occurred";
                txtEC.style = "color: red;"
            }
        });
    }
</script>


