@model IEnumerable<ToDo.Models.Town>


<h1 style="color: blue; text-align: center;">Towns</h1>
<hr />

<table id="dataTableTowns" class="table table-bordered table-responsive table-striped" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TownID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TownName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @*blank*@
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TownID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TownName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @*<button type="button" onclick="RemoveTown(@item.TownID);" class="btn btn-sm btn-danger">Delete</button>*@
                    <button id="btnTownDelete" onclick="DeleteTownModal('@item.TownName', '@item.TownID');" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <label for="txtTown">Town:</label>
    <input id="txtTown" />

    <label for="txtCounty">County:</label>
    <input id="txtCounty" />

    <span class="btn btn-sm btn-success" onclick="AddTown();">Add Town</span>


    <h2 id="txtSuccessTown" style="color: green; text-align: center;"></h2>
</div>

@*Bootstap Modal Window*@
<div class="modal fade" id="TownDeleteModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="txtTownModal" class="modal-title">Delete </h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to permanently delete this Town?</p>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="RemoveTown();" class="btn btn-success" data-dismiss="modal" style="float: left">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    var TownModalID = null;

     //DataTable
    $(document).ready(function () {
        $('#dataTableTowns').DataTable();
    });

    function DeleteTownModal(Name, ID) {

        TownModalID = ID;

        txtTownModal.innerText = "Delete " + Name;
        $("#TownDeleteModal").modal();
    }

    //Remove Town Ajax Function
    function RemoveTown() {

        TID = TownModalID;

        $.ajax({
            type: "GET",
            url: '@Url.Action("RemoveTown", "Home")',
            data: { id: TID },
            success: function (data) {

                $('#AdminTowns').html(data);
                $('#AdminTowns').fadeIn("fast");

                $('#TownDeleteModal').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                document.getElementById("txtSuccessTown").style.color = "#ff0000";
                txtSuccessTown.innerText = "Town has been deleted";
            }
        });
    }

    //Add Town Ajax Function
    function AddTown()
    {
        var town = document.getElementById('txtTown').value

        var county = document.getElementById('txtCounty').value

        $.ajax({
            type: "GET",
            url: '@Url.Action("AddTown", "Home")',
            data: { twn: town, cty: county },
            success: function (data) {

                $('#AdminTowns').html(data);
                $('#AdminTowns').fadeIn("fast")
                document.getElementById("txtSuccessTown").style.color = "green";
                txtSuccessTown.innerText = town + " has been added";
            },
            error: function (data) {

                txtSuccessTown.innerText = "An error has occurred";
                txtSuccessTown.style = "color: red;"
            }
        });
    }
</script>

