@model IEnumerable<ToDo.Models.Venue_Type>

<h1 style="color: blue; text-align: center;">Venue Types</h1>
<hr />

<table id="dataTableVenueTypes" class="table table-bordered table-responsive table-striped" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue_TypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueTypeName)
            </th>
            <th>
                @*blank*@
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_TypeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueTypeName)
                </td>

                <td>
                    @*<button type="button" onclick="RemoveVenueType(@item.Venue_TypeID);" class="btn btn-sm btn-danger">Delete</button>*@
                    <button id="btnVenueDelete" onclick="DeleteVenueTypeModal('@item.VenueTypeName', '@item.Venue_TypeID');" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <label for="txtVenueType">Venue Type:</label>
    <input id="txtVenueType" />

    <span class="btn btn-sm btn-success" onclick="AddVenueType();">Add Venue Type</span>

    <h2 id="txtVTSuccess" style="color: green; text-align: center;"></h2>
</div>

@*Bootstap Modal Window*@
<div class="modal fade" id="VenueTypeModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="txtVenueModal" class="modal-title">Delete </h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to permanently delete this Venue Type?</p>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="RemoveVenueType();" class="btn btn-success" data-dismiss="modal" style="float: left">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    var VenueTypeModalID = null;

     //DataTable
    $(document).ready(function () {
        $('#dataTableVenueTypes').DataTable();
    });


    function DeleteVenueTypeModal(Name, ID) {

        VenueTypeModalID = ID;

        txtVenueModal.innerText = "Delete " + Name;
        $("#VenueTypeModal").modal();
    }

    //Remove Venue Type Ajax Function
    function RemoveVenueType() {

        VtID = VenueTypeModalID;

        $.ajax({
            type: "GET",
            url: '@Url.Action("RemoveVenueType", "Home")',
            data: { id: VtID },
            success: function (data) {

                $('#AdminVenueType').html(data);
                $('#AdminVenueType').fadeIn("fast");

                $('#VenueTypeModal').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                document.getElementById("txtVTSuccess").style.color = "#ff0000";
                txtVTSuccess.innerText = "Venue Type has been deleted";
            }
        });
    }

    function AddVenueType()
    {
        var venueType = document.getElementById('txtVenueType').value
        console.log(venueType);

        $.ajax({
            type: "GET",
            url: '@Url.Action("AddVenueType", "Home")',
            data: { venueType: venueType },
            success: function (data) {

                $("#AdminVenueType").html("");
                $("#AdminVenueType").html(data);
                document.getElementById("txtVTSuccess").style.color = "green";
                txtVTSuccess.innerText = venueType + " has been added";

            },
            error: function (data) {

                console.log("failure");
                txtSuccess.innerText = "An error has occurred";
                txtVTSuccess.style = "color: red;"
                
            }
        });
    }
</script>

