@model IEnumerable<ToDo.Models.EventCategory>

<h1 style="color: blue; text-align: center;">Event Categories</h1>
<hr />

<table id="dataTableEventCategories" class="table table-bordered table-responsive table-striped" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCategoryName)
            </th>
            <th>
                @*blank*@
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventCategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventCategoryName)
                </td>
                <td>
                    <button type="button" onclick="RemoveEventCategory(@item.EventCategoryID);" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <label for="txtCategory">Category:</label>
    <input id="txtCategory" />

    <span class="btn btn-sm btn-success" onclick="AddCategory();">Add Category</span>

    <h2 id="txtEC" style="color: green; text-align: center;"></h2>
</div>

<script>
     //DataTable
    $(document).ready(function () {
        $('#dataTableEventCategories').DataTable();
    });

    function RemoveEventCategory(ECID) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("RemoveEventCategory", "Home")',
            data: { id: ECID },
            success: function (data) {

                $('#AdminEventCategories').html(data);
                $('#AdminEventCategories').fadeIn("fast")
                document.getElementById("txtEC").style.color = "#ff0000";
                txtEC.innerText = "Event Category has been deleted";
            }
        });
    }

    function AddCategory()
    {
        var cat = document.getElementById('txtCategory').value
        console.log(cat);

        $.ajax({
            type: "GET",
            url: '@Url.Action("AddVEventCategory", "Home")',
            data: { Category: cat },
            success: function (data) {


                $("#AdminEventCategories").html("");
                $("#AdminEventCategories").html(data);
                document.getElementById("txtEC").style.color = "green";
                txtEC.innerText = cat + " has been added";

            },
            error: function (data) {

                txtEC.innerText = "An error has occurred";
                txtEC.style = "color: red;"
            }
        });
    }
</script>


