@model IEnumerable<ToDo.Models.Band>

@*Search Box*@
@using (Html.BeginForm())
{

    <form class="form-horizontal" role="form">
        <div class="form-group" style="padding-bottom: 10px;">

            <div class="input-group col-md-2">
                @if (ViewBag.SearchTerm != null)
                {
                    <input type="text" id="txtSearch" class="search-query form-control" value="@ViewBag.SearchTerm" />
                }
                else
                {
                    <input type="text" id="txtSearch" class="search-query form-control" placeholder="Search..." />
                }

                <span class="input-group-btn">
                    <button onclick="BandSearch();" class="btn btn-info" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

            <div class="col-md-2">
                @Html.DropDownList("GenreId", (SelectList)ViewBag.Genres, "Please select", new { @class = "form-control", id = "lstGenres" })
            </div>

            <div class="col-md-1">
                <span class="btn btn-sm btn-primary" onclick="AdvanceSearch();">Search</span>
            </div>

            <div class="col-md-1">
                <span class="btn btn-sm btn-warning" onclick="Reset();">Reset</span>
            </div>
        </div>
    </form>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3" style="padding-bottom: 35px;">
            <div class="L_blog_post">
                <div class="post-img">
                    @*Check if event has image*@
                    @if (item.BandFiles.Any(f => f.BandFileType == ToDo.Models.FileType.EventImage))
                    {
                        <img src="~/File?id=@item.BandFiles.First().BandFileId" alt="imgEvent" style="width: 360px; height:240px;" />
                    }

                    @*No event image was uploaded, display default image*@
                    else
                    {
                        <img src="~/default-image.jpg" alt="imgDefault" style="width: 360px; height:240px;" />
                    }
                    @*<img src="~/File?id=@item.Files.First().FileId" alt="imgEvent" class="img-responsive" style="width:360px; height: 240px;">*@
                </div>
                <div class="content">
                    <h3>@Html.DisplayFor(modelItem => item.BandName)</h3>
                    <div class=catgrory> <span> <i class="icon fa fa-music"></i>@Html.DisplayFor(modelItem => item.BandGenre)</span>  @*<span><i class="icon fa fa-building-o"></i>@Html.DisplayFor(modelItem => item.Venue.VenueTown.TownName)</span>*@</div>
                    @*<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>*@
                    @Html.ActionLink("Details", "Details", "Venues", new { id = item.BandID }, new { @class = "btn btn-pri" })
                </div>
            </div>
        </div>
    }
</div>


<script>

    $(document).ready(function () {
        var GenreIndex =  @Html.Raw(Json.Encode(@ViewBag.GenreIndex));

        document.getElementById("lstGenres").selectedIndex = GenreIndex;
    });

    function BandSearch() {
        //Get the search term the user entered
        var search = document.getElementById("txtSearch").value;

        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("BandsTablePartialView", "Bands")',
            data: { search: search },
            success: function (data) {

                $('#BandTable').html(data);
                $('#BandTable').fadeIn("fast")
            }
        });
    }

    function AdvanceSearch() {

        var GenreIndex = document.getElementById("lstGenres").selectedIndex;
        var BandGenre = document.getElementById("lstGenres").value;
        var search = document.getElementById("txtSearch").value;
        var advancedSearch = "true";

        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("BandsTablePartialView", "Bands")',
            data: { BandGenre: BandGenre, AdvancedSearch: advancedSearch, search: search, GenreIndex: GenreIndex },
            success: function (data) {

                $('#BandTable').html(data);
                $('#BandTable').fadeIn("fast")
            }
        });
    }

    function Reset() {
        var advancedSearch = "false";
        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("BandsTablePartialView", "Bands")',
            data: { AdvancedSearch: advancedSearch },
            success: function (data) {

                $('#BandTable').html(data);
                $('#BandTable').fadeIn("fast")
            }
        });
    }

</script>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandGenre.MusicGenreName)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BandGenre.MusicGenreName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.BandID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>*@