@model IEnumerable<ToDo.Models.Band>

<style>
    .CustomParagraph {
        margin: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

<div style="padding-bottom:25px;">

    @*Search Filters*@
    <div class="container" style="padding-bottom: 10px;">
        <form class="form-inline">
            <div class="form-group" style="padding-top:20px;">
                @if (ViewBag.SearchTerm != null)
            {
                    <input type="text" id="txtSearch" class="CustomTextBox" value="@ViewBag.SearchTerm" />
                }
                else
                {
                    <input type="text" id="txtSearch" class="CustomTextBox" placeholder="Search..." />
                }
            </div>
            <div class="form-group" style="padding-top:20px;">
                @Html.DropDownList("GenreId", (SelectList)ViewBag.Genres, "Pick Genre", new { @class = "CustomTextBox", id = "lstGenres" })
            </div>

            <span class="btn btn-primary" onclick="AdvanceSearch();">Search</span>

            <span class="btn btn-warning" onclick="Reset();">Reset</span>
        </form>
    </div>

    <div class="row">

@if (ViewBag.NoBands == true)
{
    <h2 class="CustomH3" style="text-align: center;">0 results :(</h2>
}

else
{

        foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-4" style="padding-top: 50px;">
                <div class="L_blog_post">
                    <div class="post-img">
                        @*Check if event has image*@
                        @if (item.BandFiles.Any(f => f.BandFileType == ToDo.Models.FileType.EventImage))
                        {
                            <img src="~/BandFile?id=@item.BandFiles.First().BandFileId" alt="imgEvent" style="width: 360px; height:240px;" />
                        }

                        @*No event image was uploaded, display default image*@
                        else
                        {
                            <img src="~/default-image.jpg" alt="imgDefault" style="width: 360px; height:240px;" />
                        }

                    </div>
                    <div class="content" style="height: 250px;">
                        <h3>@Html.DisplayFor(modelItem => item.BandName)</h3>
                        <div class=catgrory> <span> <i class="icon fa fa-music"></i>@Html.DisplayFor(modelItem => item.BandGenre.MusicGenreName)</span></div>
                        <p class="CustomParagraph">@item.BandDescription</p>
                        <div style="position: absolute; bottom: 0;">
                            <p style="text-align: center;">
                                @Html.ActionLink("Details", "Details", "Bands", new { id = item.BandID }, new { @class = "btn btn-pri" })
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        }
}
    </div>
</div>  


<script>

    $(document).ready(function () {
        var GenreIndex =  @Html.Raw(Json.Encode(@ViewBag.GenreIndex));

        document.getElementById("lstGenres").selectedIndex = GenreIndex;
    });

    function BandSearch() {
        //Get the search term the user entered
        var search = document.getElementById("txtSearch").value;

        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("BandsTablePartialView", "Bands")',
            data: { search: search },
            success: function (data) {

                $('#BandTable').html(data);
                $('#BandTable').fadeIn("fast")
            }
        });
    }

    function AdvanceSearch() {

        var GenreIndex = document.getElementById("lstGenres").selectedIndex;
        var BandGenre = document.getElementById("lstGenres").value;
        var search = document.getElementById("txtSearch").value;
        var advancedSearch = "true";

        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("BandsTablePartialView", "Bands")',
            data: { BandGenre: BandGenre, AdvancedSearch: advancedSearch, search: search, GenreIndex: GenreIndex },
            success: function (data) {

                $('#BandTable').html(data);
                $('#BandTable').fadeIn("fast")
            }
        });
    }

    function Reset() {
        var advancedSearch = "false";
        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("BandsTablePartialView", "Bands")',
            data: { AdvancedSearch: advancedSearch },
            success: function (data) {

                $('#BandTable').html(data);
                $('#BandTable').fadeIn("fast")
            }
        });
    }

</script>
