@model IEnumerable<ToDo.Models.Event>

@*Search Box*@
<div class="row" style="padding-bottom: 25px;">
    @using (Html.BeginForm())
    {

        <form class="form-horizontal" role="form">
            <div class="form-group" style="padding-bottom: 10px;">

                <div class="input-group col-md-2">
                    @if (ViewBag.SearchTerm != null)
                {
                        <input type="text" id="txtSearch" class="search-query form-control" value="@ViewBag.SearchTerm" />
                    }
                    else
                    {
                        <input type="text" id="txtSearch" class="search-query form-control" placeholder="Search..." />
                    }

                    <span class="input-group-btn">
                        <button id="btnCustomerInc" onclick="VenueSearch();" class="btn btn-info" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>

                <div class="col-md-2">
                    @Html.DropDownList("TownId", (SelectList)ViewBag.Towns, "Please select", new { @class = "form-control", id = "lstTowns" })
                </div>

                <div class="col-md-2">
                    @Html.DropDownList("EventCategoryID", (SelectList)ViewBag.EventCategories, "Please select", new { @class = "form-control", id = "lstEventCat" })
                </div>

                <div class="col-md-1">
                    <span class="btn btn-sm btn-primary" onclick="AdvanceSearch();">Search</span>
                </div>

                <div class="col-md-1">
                    <span class="btn btn-sm btn-warning" onclick="Reset();">Reset</span>
                </div>
            </div>
        </form>
    }
</div>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCat.EventCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.VenueTown.TownName)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventCat.EventCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.VenueTown.TownName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>*@


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3" style="padding-bottom: 35px;">
            <div class="L_blog_post">
                <div class="post-img">
                    @*Check if event has image*@
                    @if (item.Files.Any(f => f.FileType == ToDo.Models.FileType.EventImage))
                    {
                        <img src="~/File?id=@item.Files.First().FileId" alt="imgEvent" style="width: 360px; height:240px;" />
                    }

                    @*No event image was uploaded, display default image*@
                    else
                    {
                        <img src="~/default-image.jpg" alt="imgDefault" style="width: 360px; height:240px;" />
                    }
                    @*<img src="~/File?id=@item.Files.First().FileId" alt="imgEvent" class="img-responsive" style="width:360px; height: 240px;">*@
                </div>
                <div class="content">
                    <h3>@Html.DisplayFor(modelItem => item.EventTitle)</h3>
                    <div class=catgrory> <span> <i class="icon fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.EventDate)</span>  <span><i class="icon fa fa-building-o"></i>@Html.DisplayFor(modelItem => item.Venue.VenueTown.TownName)</span></div>
                    @*<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>*@
                    @Html.ActionLink("Details", "Details", "Venues", new { id = item.VenueID }, new { @class = "btn btn-pri" })
                </div>
            </div>
        </div>
    }
</div>

@*<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-4">
            <div class="L_blog_post">
                <div class="post-img">
                    <img src="~/File?id=@item.Files.First().FileId" alt="imgEvent" class="img-responsive" style="width:360px; height: 240px;">
                </div>
                <div class="content">
                    <h3>@Html.DisplayFor(modelItem => item.EventTitle)</h3>
                    <div class=catgrory> <span> <i class="icon fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.EventDate)</span>  <span><i class="icon fa fa-map-signs"></i>@Html.DisplayFor(modelItem => item.Venue.VenueTown.TownName)</span></div>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                    @Html.ActionLink("Details", "Details", "Events", new { id = item.EventID }, new { @class = "btn btn-pri" })
                </div>
            </div>
        </div>
    }
</div>*@

<script>

    $(document).ready(function () {
        var TownIndex =  @Html.Raw(Json.Encode(@ViewBag.TownIndex));
        var CategoryIndex =  @Html.Raw(Json.Encode(@ViewBag.CategoryIndex));

        document.getElementById("lstTowns").selectedIndex = TownIndex;
        document.getElementById("lstEventCat").selectedIndex = CategoryIndex;
    });

    function VenueSearch() {
        //Get the search term the user entered
        var search = document.getElementById("txtSearch").value;

        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("EventsTablePartialView", "Events")',
            data: { search: search },
            success: function (data) {

                $('#EventTable').html(data);
                $('#EventTable').fadeIn("fast")
            }
        });
    }

    function AdvanceSearch() {
        var TownSelectedIndex = document.getElementById("lstTowns").selectedIndex;
        var ECypeSelectedIndex = document.getElementById("lstEventCat").selectedIndex;

        var town = document.getElementById("lstTowns").value;
        var eventCat = document.getElementById("lstEventCat").value;
        var search = document.getElementById("txtSearch").value;

        var advancedSearch = "true";
        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("EventsTablePartialView", "Events")',
            data: { Town: town, EventCategory: eventCat, AdvancedSearch: advancedSearch, search: search, TownIndex: TownSelectedIndex, CategoryIndex: ECypeSelectedIndex },
            success: function (data) {

                $('#EventTable').html(data);
                $('#EventTable').fadeIn("fast")
            }
        });
    }

    function Reset() {
        var advancedSearch = "false";
        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("EventsTablePartialView", "Events")',
            data: { AdvancedSearch: advancedSearch },
            success: function (data) {

                $('#EventTable').html(data);
                $('#EventTable').fadeIn("fast")
            }
        });
    }

</script>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCat.EventCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.VenueTown.TownName)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventCat.EventCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue.VenueTown.TownName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>*@