@model IEnumerable<ToDo.Models.Event>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<style>
    .CustomParagraph {
        margin: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

<div style="padding-bottom:25px;">

    @*Search Filters*@
    <div class="container" style="padding-bottom: 10px;">
        <form class="form-inline">
            @*Search Box*@
            <div class="form-group" style="padding-top:20px;">
                @if (ViewBag.SearchTerm != null)
            {
                    <input type="text" id="txtSearch" class="CustomTextBox" value="@ViewBag.SearchTerm" />
                }
                else
                {
                    <input type="text" id="txtSearch" class="CustomTextBox" placeholder="Search..." />
                }
            </div>
            @*Date Picker*@
            <div class="form-group" style="padding-top:20px;">
                <input type="text" id="datepicker" class="CustomTextBox" placeholder="Pick Date">
            </div>
            @*Town Dropdown*@
            <div class="form-group" style="padding-top:20px;">
                @Html.DropDownList("TownId", (SelectList)ViewBag.Towns, "Pick Town", new { @class = "CustomTextBox", id = "lstTowns" })
            </div>
            @*Event Categories*@
            <div class="form-group" style="padding-top:20px;">
                @Html.DropDownList("EventCategoryID", (SelectList)ViewBag.EventCategories, "Pick Category", new { @class = "CustomTextBox", id = "lstEventCat" })
            </div>

            <span class="btn btn-primary" onclick="AdvanceSearch();">Search</span>

            <span class="btn btn-warning" onclick="Reset();">Reset</span>
        </form>
    </div>

    <div class="row">

        @if (ViewBag.NoEvents == true)
        {
            <h2 class="CustomH3" style="text-align: center;">0 results :(</h2>
        }

        else
        {
            foreach (var item in Model)
            {

                <div class="col-md-4 col-sm-4" style="padding-top: 50px;">
                    <div class="L_blog_post">
                        <div class="post-img">
                            @*Check if venue has image*@
                            @if (item.Files.Any(f => f.FileType == ToDo.Models.FileType.EventImage))
                            {
                                <img src="~/File?id=@item.Files.First().FileId" alt="imgEvent" style="width: 360px; height:240px;" />
                            }

                            @*No venue image was uploaded, display default image*@
                            else
                            {
                                <img src="~/default-image.jpg" alt="imgDefault" style="width: 360px; height:240px;" />
                            }
                        </div>
                        <div class="content" style="height: 250px;">
                            <h3>@Html.DisplayFor(modelItem => item.EventTitle)</h3>
                            <div class=catgrory> <span> <i class="icon fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.EventDate)</span>  <span><i class="icon fa fa-building-o"></i>@Html.DisplayFor(modelItem => item.Venue.VenueTown.TownName)</span></div>
                            <p class="CustomParagraph">@item.EventDescription</p>
                            <div style="position: absolute; bottom: 0;">
                                <p style="text-align: center;">
                                    @Html.ActionLink("More Details", "Details", "Events", new { id = item.EventID }, new { @class = "btn btn-pri " })
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

<script>

    $(function () {
        //$("#datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#datepicker").datepicker();
    });

    $(document).ready(function () {
        var TownIndex =  @Html.Raw(Json.Encode(@ViewBag.TownIndex));
        var CategoryIndex =  @Html.Raw(Json.Encode(@ViewBag.CategoryIndex));

        document.getElementById("lstTowns").selectedIndex = TownIndex;
        document.getElementById("lstEventCat").selectedIndex = CategoryIndex;
    });

    function VenueSearch() {
        //Get the search term the user entered
        var search = document.getElementById("txtSearch").value;

        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("EventsTablePartialView", "Events")',
            data: { search: search },
            success: function (data) {

                $('#EventTable').html(data);
                $('#EventTable').fadeIn("fast")
            }
        });
    }

    function AdvanceSearch() {
        var TownSelectedIndex = document.getElementById("lstTowns").selectedIndex;
        var ECypeSelectedIndex = document.getElementById("lstEventCat").selectedIndex;

        var town = document.getElementById("lstTowns").value;
        var eventCat = document.getElementById("lstEventCat").value;
        var search = document.getElementById("txtSearch").value;
        var date = document.getElementById("datepicker").value;

        var advancedSearch = "true";
        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("EventsTablePartialView", "Events")',
            data: { Town: town, EventCategory: eventCat, AdvancedSearch: advancedSearch, search: search, TownIndex: TownSelectedIndex, CategoryIndex: ECypeSelectedIndex, Date: date },
            success: function (data) {

                $('#EventTable').html(data);
                $('#EventTable').fadeIn("fast")
            }
        });
    }

    function Reset() {
        var advancedSearch = "false";
        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("EventsTablePartialView", "Events")',
            data: { AdvancedSearch: advancedSearch },
            success: function (data) {

                $('#EventTable').html(data);
                $('#EventTable').fadeIn("fast")
            }
        });
    }

</script>