@model IEnumerable<ToDo.Models.Venue>

<h2 class="title">Featured Venues</h2>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4 col-sm-4">
            <div class="L_blog_post">
                <div class="post-img">
                    <img src="~/File?id=@item.VenueFiles.First().VenueFileId" alt="imgEvent" class="img-responsive" style="width:360px; height: 240px;">
                </div>
                <div class="content">
                    <h3>@Html.DisplayFor(modelItem => item.VenueName)</h3>
                    <div class=catgrory> <span> <i class="icon fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.VenueTown.TownName)</span>  <span><i class="icon fa fa-comments"></i>@Html.DisplayFor(modelItem => item.VenueType.VenueTypeName)</span></div>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                    @Html.ActionLink("Details", "Details", "Venues", new { id = item.VenueID }, new { @class = "btn btn-pri" })
                </div>
            </div>
        </div>


        @*<div class="col-md-4 col-sm-4 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">@Html.DisplayFor(modelItem => item.VenueName) - @Html.DisplayFor(modelItem => item.VenueTown.TownName)</h1>
                </div>
                <div class="panel-body" style="height: 350px;">
                    <img src="~/File?id=@item.VenueFiles.First().VenueFileId" alt="imgEvent" class="img-responsive" style="width:300px; height: 300px;">
                </div>
                <div class="panel-footer">
                    <center>@Html.ActionLink("Details", "Details", "Venues", new { id = item.VenueID }, new { @class = "btn btn-primary" })</center>
                </div>
            </div>
        </div>*@
    }
</div>
