@model IEnumerable<ToDo.Models.Venue>


<style>
    .CustomParagraph {
        margin: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4 col-sm-4">
            <div class="L_blog_post">
                <div class="post-img">
                    @*Check if venue has image*@
                    @if (item.VenueFiles.Any(f => f.VenueFileType == ToDo.Models.FileType.EventImage))
                    {
                        <img src="~/File?id=@item.VenueFiles.First().VenueFileId" alt="imgEvent" style="width: 360px; height:240px;" />
                    }

                    @*No venue image was uploaded, display default image*@
                    else
                    {
                        <img src="~/default-image.jpg" alt="imgDefault" style="width: 360px; height:240px;" />
                    }
                </div>
                <div class="content" style="height: 300px;">
                    <h3>@Html.DisplayFor(modelItem => item.VenueName)</h3>
                    <div class=catgrory> <span> <i class="icon fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.VenueTown.TownName)</span>  <span><i class="icon fa fa-building-o"></i>@Html.DisplayFor(modelItem => item.VenueType.VenueTypeName)</span></div>
                    <p class="CustomParagraph">@item.VenueDescription</p>
                    <div style="position: absolute; bottom: 0;">
                        <p style="text-align: center;">
                            @Html.ActionLink("More Details", "Details", "Venues", new { id = item.VenueID }, new { @class = "btn btn-pri " })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
