<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    @Scripts.Render("~/bundles/jquery")

    @*font awesome - http://www.w3schools.com/icons/fontawesome_icons_brand.asp*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


</head>
<body>
    <div style="padding-bottom: 50px;">
        <header id="main-header">
            <div class="container">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/logo.png" id="logo" alt="logo" />
                </a>
                <nav class="main-nav">
                    <ul>
                        @if (User.IsInRole("Admin"))
                        {
                           
                            <li class="@(ViewBag.Linktext == "Venues" ? "current" : "")">@Html.ActionLink("Venues", "Index", "Venues")</li>
                            <li class="@(ViewBag.Linktext == "Events" ? "current" : "")">@Html.ActionLink("Events", "Index", "Events")</li>
                            <li class="@(ViewBag.Linktext == "Bands" ? "current" : "")">@Html.ActionLink("Bands", "Index", "Bands")</li>
                            <li class="@(ViewBag.Linktext == "Admin" ? "current" : "")">@Html.ActionLink("Admin", "Admin", "Home")</li>


                            
                            @*<li class="CustomNavLI">@Html.ActionLink("Venues", "Index", "Venues")</li>*@
                            @*< li > @Html.ActionLink("Events", "Index", "Events") </ li > *@
                            @*< li > @Html.ActionLink("Bands", "Index", "Bands") </ li >
                            < li > @Html.ActionLink("Admin", "Admin", "Home") </ li > *@

                            @Html.Partial("_LoginPartial")
                        }

                        else
                        {
                            <li class="@(ViewBag.Linktext == "Venues" ? "current" : "")">@Html.ActionLink("Venues", "Index", "Venues")</li>
                            <li class="@(ViewBag.Linktext == "Events" ? "current" : "")">@Html.ActionLink("Events", "Index", "Events")</li>
                            <li class="@(ViewBag.Linktext == "Bands" ? "current" : "")">@Html.ActionLink("Bands", "Index", "Bands")</li>

                            <li>@Html.Partial("_LoginPartial")</li>
                        }
                    </ul>

                </nav>
            </div>
        </header>

    </div>

    <div class="container body-content">
        @*@RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
        @RenderBody()


    </div>

    <footer class="main-footer">
        <div class="container">
            <p class="copyright pull-left">ToDo 2016. Cathal O'Donnell</p>
            <div class="social-icon pull-right">
                <a href="www.facebook.com" class="fa fa-facebook"></a>
                <a href="www.twitter.com" class="fa fa-twitter"></a>
                <a href="www.pintresr.com" class="fa fa-pinterest "></a>
                <a href="www.linkedin.com" class="fa fa-linkedin"></a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/table")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
