@model ToDo.Models.Venue

<style>
    .CustomParagraph {
        margin: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

@if (Model != null)
{
    <div class="event-slider">

        <div class="eventschedule">
            <div class="content">
                <h2 class="CustomH3" style="text-align:center; padding-bottom: 25px;">Top Venues</h2>
            </div>
        </div>

        <div class="eventschedule" data-dot="1<span class='date'>06/2016</span>">
            <div class="row">
                <div class="eventschedule-post clearfix">
                    <div class="event-img">
                        @*Check if venue has image*@
                        @if (Model.VenueFiles.Any(f => f.VenueFileType == ToDo.Models.FileType.EventImage))
                        {
                            <img src="~/VenueFile?id=@Model.VenueFiles.First().VenueFileId" alt="imgEvent" style="width: 360px; height:240px;" />
                        }

                        @*No venue image was uploaded, display default image*@
                        else
                        {
                            <img src="~/default-image.jpg" alt="imgDefault" style="width: 360px; height:240px;" />
                        }
                    </div>
                    <div class="content">
                        <h3>@Model.VenueName<span class="job">@Model.VenueType.VenueTypeName    </span></h3>
                        <h4 class="primery-color"><a href="#">@Model.VenueTown.TownName</a> </h4>

                        <p class="CustomParagraph">@Model.VenueDescription</p>

                        @Html.ActionLink("More Details", "Details", "Venues", new { id = Model.VenueID }, new { @class = "btn btn-pri" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

