@model ToDo.Models.Event



<div class="event-slider">


    <h2 style="text-align:center; padding-bottom: 25px;">Top Events</h2>

    <div class="eventschedule" data-dot="1<span class='date'>06/2016</span>">
        <div class="row">
            <div class="eventschedule-post clearfix">
                <div class="event-img">
                    @*Check if event has image*@
                    @if (Model.Files.Any(f => f.FileType == ToDo.Models.FileType.EventImage))
                    {
                        <img src="~/File?id=@Model.Files.First().FileId" alt="imgEvent" style="width: 360px; height:240px;" />
                    }

                    @*No event image was uploaded, display default image*@
                    else
                    {
                        <img src="~/default-image.jpg" alt="imgDefault" style="width: 360px; height:240px;" />
                    }
                    @*<img src="~/File?id=@item.Files.First().FileId" alt="imgEvent" class="img-responsive" style="width:360px; height: 240px;">*@
                </div>
                <div class="content">
                    <h3>@Model.EventTitle<span class="job">     @Model.EventCat.EventCategoryName    </span></h3>
                    <h4 class="primery-color"><a href="#">@Model.Venue.VenueName</a> </h4>
                    <p>
                        Quickly pursue error-free technology via parallel systems. Conveniently formulate plug-and-play value after cross functional niche markets. Credibly restore  Dynamically incentivize backward-compatible strategic theme areas through process market positioning web services through...[...]
                    </p>
                    <ul class="gray-bg">
                        <li class="fa fa-clock-o ">@Model.EventTime.ToShortTimeString() TO @Model.EventEndTime.ToShortTimeString()</li>
                        <li class="fa fa-map-signs">@Model.Venue.VenueTown.TownName</li>
                    </ul>
                    <div class="clearboth"></div>
                    @Html.ActionLink("Details", "Details", "Events", new { id = Model.EventID }, new { @class = "btn btn-pri" })
                </div>
            </div>
        </div>
    </div>
</div>
