@model IEnumerable<ToDo.Models.Venue>

<style>
    .CustomParagraph {
        margin: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>




@if (ViewBag.HasVenue == true)
{
    <div class="eventschedule">
        <div class="content">
            <h2 class="CustomH3" style="text-align:center; padding-bottom: 2px;">My Venues</h2>
        </div>
    </div>

    foreach (var item in Model)
    {
    <div class="event-slider">       

        <div class="eventschedule" data-dot="1<span class='date'>06/2016</span>">
            <div class="row">
                <div class="eventschedule-post clearfix">
                    <div class="event-img">
                        @*Check if venue has image*@
                        @if (item.VenueFiles.Any(f => f.VenueFileType == ToDo.Models.FileType.EventImage))
                        {
                            <a href='@Url.Action("Details", "Venues", new { id = item.VenueID })'>
                                <img src="~/VenueFile?id=@item.VenueFiles.First().VenueFileId" alt="imgEvent" style="width: 360px; height:240px;" />
                            </a>
                        }

                        @*No venue image was uploaded, display default image*@
                        else
                        {
                            <a href='@Url.Action("Details", "Venues", new { id = item.VenueID })'>
                                <img src="~/default-image.jpg" alt="imgDefault" style="width: 360px; height:240px;" />
                            </a>                            
                        }
                    </div>
                    <div class="content">
                        <h3>@item.VenueName<span class="job">@item.VenueType.VenueTypeName    </span></h3>
                        <h4 class="primery-color"><a href="#">@item.VenueTown.TownName</a> </h4>

                        <p class="CustomParagraph">@item.VenueDescription</p>

                        <div class="clearboth"></div>
                        @Html.ActionLink("More Details", "Details", "Venues", new { id = item.VenueID }, new { @class = "btn btn-pri" })

                        @if (item.VenueActive == true)
                        {
                            <button type="button" onclick="VenueChangeStatus(@item.VenueID);" data-VenueID="@item.VenueID" class="btn btn-warning">Hide Venue</button>
                        }

                        else if (item.VenueActive == false)
                        {
                            <button type="button" onclick="VenueChangeStatus(@item.VenueID);" data-VenueID="@item.VenueID" class="btn btn-success">Show Venue</button>
                        }

                        @Html.ActionLink("Edit Venue", "Edit", "Venues", new { id = item.VenueID }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}

else if (ViewBag.HasVenue == false)
{
    <div class="row col-md-8 col-md-offset-2" style="padding-top: 25px;">
        <h2 class="CustomH3" style="text-align: center;">You do not have any venues currently</h2>

        <p style="text-align: center;">
            @Html.ActionLink("New Venue", "Create", "Venues", null, new { @class = "btn btn-block btn-primary" })
        </p>
    </div>
}


<script>
    //Change Venue Status Ajax
    function VenueChangeStatus(VeID) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("VenueChangeStatus", "Manage")',
            data: { id: VeID },
            success: function (data) {

                $('#MyProfileVenues').html(data);
                $('#MyProfileVenues').fadeIn("fast")
            }
        });
    }
</script>



