@model IEnumerable<ToDo.Models.Band>

<style>
    .CustomParagraph {
        margin: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>

@if (ViewBag.hasBands == true)
{

    <div class="eventschedule">
        <div class="content">
            <h2 class="CustomH3" style="text-align:center; padding-bottom: 2px;">My Bands</h2>
        </div>
    </div>

    foreach (var item in Model)
    {
        <div class="event-slider">

            <div class="eventschedule" data-dot="1<span class='date'>06/2016</span>">
                <div class="row">
                    <div class="eventschedule-post clearfix">
                        <div class="event-img">
                            @*Check if venue has image*@
                            @if (item.BandFiles.Any(f => f.BandFileType == ToDo.Models.FileType.EventImage))
                            {
                                <img src="~/File?id=@item.BandFiles.First().BandFileId" alt="imgEvent" style="width: 360px; height:240px;" />
                            }

                            @*No venue image was uploaded, display default image*@
                            else
                            {
                                <img src="~/default-image.jpg" alt="imgDefault" style="width: 360px; height:240px;" />
                            }
                        </div>
                        <div class="content">
                            <h3>@item.BandName<span class="job">@item.BandGenre.MusicGenreName</span></h3>

                            <p class="CustomParagraph">@item.BandDescription</p>

                            <div class="clearboth"></div>
                            @Html.ActionLink("More Details", "Details", "Bands", new { id = item.BandID }, new { @class = "btn btn-pri" })

                            @if (item.BandActive == true)
                            {
                                <button type="button" onclick="VenueChangeStatus(@item.BandID);" data-VenueID="@item.BandID" class="btn btn-warning">Hide Band</button>
                            }

                            else if (item.BandActive == false)
                            {
                                <button type="button" onclick="VenueChangeStatus(@item.BandID);" data-VenueID="@item.BandID" class="btn btn-success">Show Band</button>
                            }

                            @Html.ActionLink("Edit Band", "Edit", "Venues", new { id = item.BandID }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

else
{
    <div class="row col-md-8 col-md-offset-2" style="padding-top: 25px;">

        <h2 class="CustomH3" style="text-align: center;">You do not have any bands currently</h2>

        <p style="text-align: center;">
            @Html.ActionLink("New Band", "Create", "Bands", null, new { @class = "btn btn-block btn-primary" })
        </p>
    </div>
}


<script>
    //Change Venue Status Ajax
    function VenueChangeStatus(VeID) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("VenueChangeStatus", "Manage")',
            data: { id: VeID },
            success: function (data) {

                $('#MyProfileVenues').html(data);
                $('#MyProfileVenues').fadeIn("fast")
            }
        });
    }
</script>



