@model ToDo.Models.Venue

<div >
    <p>@ViewBag.IsSubscriber</p>

    @if (ViewBag.IsSubscriber == false)
            {
        <button onclick="VenueSubscribe(@Model.VenueID);" class="btn btn-success">test Subscribe</button>
    }

    else if (ViewBag.IsSubscriber == true)
    {
        <button onclick="VenueUnsubscribe(@Model.VenueID);" class="btn btn-primary">test Unsubscribe</button>
    }
</div>

<script>
    //Venue Subscribe Ajax
    function VenueSubscribe(vID) {
        console.log('Venue Subscribe function hit');
        console.log(vID);

        $.ajax({
            type: "GET",
            url: '@Url.Action("VenueSubscribe", "Venues")',
            data: { id: vID },
            success: function (data) {

                $('#VenueSubscribe').html(data);
                $('#VenueSubscribe').fadeIn("fast")
            }
        });
    }

    function VenueUnsubscribe(vID) {
        console.log('Venue Unsubscribe function hit');
        console.log(vID);

        $.ajax({
            type: "GET",
            url: '@Url.Action("VenueUnsubscribe", "Venues")',
            data: { id: vID },
            success: function (data) {

                $('#VenueSubscribe').html(data);
                $('#VenueSubscribe').fadeIn("fast")
            }
        });
    }
</script>
