@model IEnumerable<ToDo.Models.Venue>



@*Search Box*@
@using (Html.BeginForm())
{
    

    <div class="container" style="padding-bottom: 10px;">
        <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-2">
                    <input type="text" id="txtSearch" class="search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button id="btnCustomerInc" onclick="VenueSearch();" class="btn btn-danger" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueTown)
        </th>
        <th>
            @*blank*@
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueTown)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.VenueID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

<script>
    function VenueSearch() {
        //Get the search term the user entered
        var search = document.getElementById("txtSearch").value;

        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("VenuesTablePartialView", "Venues")',
            data: { id: search },
            success: function (data) {

                $('#VenueTable').html(data);
                $('#VenueTable').fadeIn("fast")

            }
        });
    }

</script>
