@model IEnumerable<ToDo.Models.Venue>

@*Search Box*@
@using (Html.BeginForm())
{

    <form class="form-horizontal" role="form">
        <div class="form-group" style="padding-bottom: 10px;">

            <div class="input-group col-md-2">
                <input type="text" id="txtSearch" class="search-query form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button id="btnCustomerInc" onclick="VenueSearch();" class="btn btn-info" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

            <div class="col-md-2">
                @Html.DropDownList("TownId", (SelectList)ViewBag.Towns, "Please select", new { @class = "form-control", id = "lstTowns" })
            </div>

            <div class="col-md-2">
                @Html.DropDownList("Venue_TypeID", (SelectList)ViewBag.VenueTypes, "Please select", new { @class = "form-control", id = "lstVenueTypes" })
            </div>

            <div class="col-md-1">
                <span class="btn btn-sm btn-primary" onclick="AdvanceSearch();">Search</span>
            </div>

            <div class="col-md-1">
                <span class="btn btn-sm btn-warning" onclick="Reset();">Reset</span>
            </div>
        </div>
    </form>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueType.VenueTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueTown.TownName)
        </th>
        <th>
            @*blank*@
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueType.VenueTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueTown.TownName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.VenueID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

<script>
    function VenueSearch() {
        //Get the search term the user entered
        var search = document.getElementById("txtSearch").value;
        var advancedSearch = "false";

        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("VenuesTablePartialView", "Venues")',
            data: { search: search, AdvancedSearch: advancedSearch },
            success: function (data) {

                $('#VenueTable').html(data);
                $('#VenueTable').fadeIn("fast")
            }
        });
    }

    function AdvanceSearch() {
        var town = document.getElementById("lstTowns").value;
        var venueType = document.getElementById("lstVenueTypes").value;
        var advancedSearch = "true";
        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("VenuesTablePartialView", "Venues")',
            data: { Town: town, VenueType: venueType, AdvancedSearch: advancedSearch },
            success: function (data) {

                $('#VenueTable').html(data);
                $('#VenueTable').fadeIn("fast")
            }
        });
    }

    function Reset() {
        var advancedSearch = "false";
        //Ajax code
        $.ajax({
            type: "GET",
            url: '@Url.Action("VenuesTablePartialView", "Venues")',
            data: { AdvancedSearch: advancedSearch },
            success: function (data) {

                $('#VenueTable').html(data);
                $('#VenueTable').fadeIn("fast")
            }
        });
    }
</script>
