

@using ToDo.Models

@model LoginViewModel

<style>
    body {
        padding-top: 15px;
        font-size: 12px;
    }

    .main {
        max-width: 320px;
        margin: 0 auto;
    }

    .login-or {
        position: relative;
        font-size: 18px;
        color: #aaa;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .span-or {
        display: block;
        position: absolute;
        left: 50%;
        top: -2px;
        margin-left: -25px;
        background-color: #e6e6e6;
        width: 50px;
        text-align: center;
    }

    .hr-or {
        background-color: #cdcdcd;
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    h3 {
        text-align: center;
        line-height: 300%;
    }
</style>



<br />

<div class="container" style="padding-bottom: 50px;">
    <div class="row">

        <div class="col-sm-12 col-md-4 col-md-offset-4">
            <img src="~/logo2.png" class="img-responsive" alt="Logo" width="204" height="136" style="margin: 0 auto; padding-top:10px;">
        </div>

        <div class="col-sm-12 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <h2 style="text-align: center;">Login to your account</h2>

                @using (Html.BeginForm("Login", "Account", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-signin">

                        @*Email*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email) })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        @*Password*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password) })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


                        @*Submit*@
                        <div class="centered">
                            <button type="submit" class="btn btn-success " style="width:75%;">Login</button>
                        </div>

                        @*Links*@
                        <div class="test" style="text-align: center; padding-top: 10px;">
                            <p><a href="@Url.Action("Register", "Account")">Register</a> <a style="float:right;" href="@Url.Action("ForgotPassword", "Account")">Forgot Password</a></p>
                        </div>
                    </div>

                    <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                    </div>
                }
                
                <h4 style="text-align: center;">Login with Facebook</h4>
                    @*<section id="socialLoginForm">*@
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    @*</section>*@                  

            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

