@model ToDo.Models.IndexViewModel

<style>
    body, html {
        height: 100%;
        margin: 0;
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #777;
    }
</style>

<div>
    @*New Venue*@
    <p>
        @Html.ActionLink("New Venue", "Create", null, new { @class = "btn btn-primary" })
    </p>
    @*New Band*@
    <p>
        @Html.ActionLink("New Band", "Create", null, new { @class = "btn btn-primary" })
    </p>

    @*User Venues Partial View*@
    <div id="MyProfileVenues">
        @Html.Action("UserVenuePartialView")
    </div>


    <dl class="dl-horizontal" style="padding-top: 50px;">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
        </dd>
    </dl>
</div>
