@model ToDo.Models.AdminSettings

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Edit Settings", "EditAdminSettings", null, new { @class = "btn btn-primary" })
</p>

<div class="row">
    <div class="col-sm-4">
        <h4>Total Venues: @ViewBag.VenueCount</h4>
        <h4>Total Events: @ViewBag.EventCount</h4>
        <h4>Registered Users: @ViewBag.UserCount</h4>
    </div>


    <div class="col-sm-4">
        <h4 style="color: blue">Featured Events</h4>
        <dl class="dl-horizontal">
            @*Events*@
            <dt>
                @Html.DisplayNameFor(model => model.TopFeaturedEvent):
            </dt>

            <dd>
                @ViewBag.TopEvent
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FeaturedEvent1):
            </dt>

            <dd>
                @ViewBag.Event1
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FeaturedEvent2):
            </dt>

            <dd>
                @ViewBag.Event2
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FeaturedEvent3):
            </dt>

            <dd>
                @ViewBag.Event3
            </dd>

        </dl>

    </div>

    <div class="col-sm-4">
        <h4 style="color: blue">Featured Venues</h4>
        <dl class="dl-horizontal">
            @*Venues*@
            <dt>
                @Html.DisplayNameFor(model => model.TopFeaturedVenue):
            </dt>

            <dd>
                @ViewBag.TopVenue
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FeaturedVenue1):
            </dt>

            <dd>
                @ViewBag.Venue1
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FeaturedVenue2):
            </dt>

            <dd>
                @ViewBag.Venue2
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FeaturedVenue3):
            </dt>

            <dd>
                @ViewBag.Venue3
            </dd>
        </dl>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h1 style="text-align: center; color: blue">Venues</h1>
            <hr style="color: red;" />
            @Html.Action("AdminVenuesTablePartialView")
        </div>

        <div class="col-sm-6">
            <h1 style="text-align: center; color: blue">Events</h1>
            <hr />
            @Html.Action("AdminEventsTablePartialView")
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h1 style="color: blue; text-align: center;">Users</h1>
            @Html.Action("AdminUsersTablePartialView")
        </div>
        <div class="col-sm-6">
            <h1 style="color: blue; text-align: center;">Towns</h1>
            @*<div id="towns">*@
                @Html.Action("AdminTownsTablePartialView")
            @*</div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h1 style="color: blue; text-align: center;">Venue Types</h1>
            @Html.Action("AdminVenueTypesTablePartialView")
        </div>
        <div class="col-sm-6">
            <h1 style="color: blue; text-align: center;">Event Categories</h1>
            @Html.Action("AdminEventCategoriesTablePartialView")
        </div>
    </div>
    </div>